<div class="container mx-auto mt-8 font-jost">
  <h1><%= t(".title") %></h1>

  <div class="et_pb_text_inner">
    <p><strong>Reynaud Charpente, Tous droits réservés.</strong></p>
    <p>Le site que vous consultez actuellement est la propriété de:</p>
    <p>Reynaud Charpente<br />
      <span>1036, avenue Ambroise Croizat</span><br />
      <span>38920 CROLLES</span><br />
      <a href="https://www.reynaudcharpente.fr">https://www.reynaudcharpente.fr</a><br />
      <%= mail_to "contact@reynaudcharpente.fr" %>
    <p>SIRET n°30146450900019</p>
    <p><strong>Ce site a été créé par:</strong><br /> KombiCode<br /> 184 impasse des Côtes, 38190 Sainte-Agnès<br />
    <%= mail_to "contact@kombicode.com" %>
    <p>Ce site est hébergé par:<br />
       Digital Ocean<br />
    </p>
    <p>Le serveur utilisé est en Allemagne</p>
  </div>
</div>


