<div class="container w-full px-4 mx-auto my-8 font-jost">
  <div class="py-32 text-justify">
    <div class="p-10 mx-auto mt-16 overflow-hidden text-justify rounded shadow-lg">
      <h2 class="mb-4 text-2xl text-center">CHARPENTIER ET CONSTRUCTEUR DE MAISON OSSATURE BOIS, BBC, PASSIVE, À CROLLES (38)</h2>
      <p class="text-xl font-light leading-snug">
L’entreprise REYNAUD CHARPENTE est spécialisée dans la construction bois et la charpente traditionnelle depuis 1958.
Elle allie une longue expérience et un savoir-faire traditionnel à un développement continu des méthodes et des outils.</p>
      <p class="text-xl font-light leading-snug">
Créée par René Reynaud, son fils Jean-François intégra l’entreprise dès 1982. Il pris la succession de son père en 1994.
En 2014, Vincent – petit fils de René et fils de Jean-François – intègre à son tour l’entreprise.</p>
      <p class="text-xl font-light leading-snug">
Notre slogan découle de cette histoire : LA PASSION DU BOIS PAR TRADITION DEPUIS 3 GÉNÉRATIONS.</p>
      <p class="text-xl font-light leading-snug">
Le respect des délais d’exécution est notre priorité.
Grâce à une étude précise des structures, nous réalisons des modules préfabriqués en atelier qui réduisent considérablement notre temps d’intervention sur chantier.
Nous prônons la formation en alternance et les diverses qualifications de nos charpentiers. Chez Reynaud Charpente, la technique et la rigueur est transmise de père en fils ainsi qu’à l’ensemble du personnel. Jean François REYNAUD- lauréat du Prix Belin (concours d’excellence de charpente – Grenoble 1982)- est particulièrement exigent sur la qualité et le professionnalisme de ses collaborateurs. Nos charpentiers et chefs de chantiers sont tous diplômés ou en formation en alternance du CAP au diplôme d’ingénieur.
Soucieux de la haute qualité environnementale de nos bâtiments, nous apportons une attention soutenue à la provenance de nos matériaux, de la production jusqu’à l’acheminement sur les chantiers et la mise en œuvre.
Notre clientèle est essentiellement composée de particuliers en direct ou par la recommandation d’architectes, et des collectivités pour des chantiers de petits collectifs en réponse à des appels d’offre locaux.
      </p>
    </div>
  </div>
</div>