<div class="flex items-center justify-center h-screen font-jost">
  <% if current_user %>
    <h1> Dashboard </h1>
  <% else %>
    <div data-controller="extended-modal">
      <span class="inline-flex rounded-md shadow-md">
        <span class="inline-flex rounded-md shadow-xs">
          <%= link_to "Log In", login_path,
              data: { action: "click->extended-modal#open", remote: true },
              class: " text-xl text-white inline-flex items-center px-4 py-0 leading-6 transition duration-150 ease-in-out bg-brandBrown border border-transparent rounded-md hover:text-brandBrown hover:bg-white focus:outline-none focus:shadow-outline-brandYellow" %>
          <%= render 'sessions/modal' %>
        </span>
      </span>
    </div>
  <% end %>
</div>
