<div class="container px-4 mx-auto my-8">

  <!-- Slider main container -->
  <div data-controller="carousel" class="swiper"
      data-carousel-options-value='{ "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" },
                                      "autoplay": { "delay": 5000 },
                                      "effect": "fade",
                                      "fadeEffect": { "crossFade": true},
                                      "pagination": { "el": ".swiper-pagination", "type": "bullets"} }'>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <picture>
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245803/KombiCode/ReynaudCharpente/HomePage/test_carousel_1_tfyhcv.webp"
                  type="image/webp" >    
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245807/KombiCode/ReynaudCharpente/HomePage/test_carousel_1_vh2llo.jpg"
                  type="image/jpg" >    
          <img src="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245807/KombiCode/ReynaudCharpente/HomePage/test_carousel_1_vh2llo.jpg"
              width=1600
              height=1200
              alt="Reynaud Charpente">
        </picture>     
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245820/KombiCode/ReynaudCharpente/HomePage/test_carousel_4_yawbkc.jpg"
                  type="image/webp" >    
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245820/KombiCode/ReynaudCharpente/HomePage/test_carousel_4_yawbkc.jpg"
                  type="image/jpg" >    
          <img src="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245820/KombiCode/ReynaudCharpente/HomePage/test_carousel_4_yawbkc.jpg"
              width=1600
              height=1200
              alt="Reynaud Charpente">
        </picture>     
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245805/KombiCode/ReynaudCharpente/HomePage/test_carousel_2_bdvtv3.webp"
                  type="image/webp" >    
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245807/KombiCode/ReynaudCharpente/HomePage/test_carousel_2_lpnf1n.jpg"
                  type="image/jpg" >    
          <img src="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245807/KombiCode/ReynaudCharpente/HomePage/test_carousel_2_lpnf1n.jpg"
              width=1600
              height=1200
              alt="Reynaud Charpente">
        </picture>     
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245809/KombiCode/ReynaudCharpente/HomePage/test_carousel_3_ytoxrm.webp"
                  type="image/webp" >    
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245815/KombiCode/ReynaudCharpente/HomePage/test_carousel_3_qu0ptm.jpg"
                  type="image/jpg" >    
          <img src="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245815/KombiCode/ReynaudCharpente/HomePage/test_carousel_3_qu0ptm.jpg"
              width=1600
              height=1200
              alt="Reynaud Charpente">
        </picture>     
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245820/KombiCode/ReynaudCharpente/HomePage/test_carousel_5_ayhnkj.webp"
                  type="image/webp" >    
          <source srcset="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245822/KombiCode/ReynaudCharpente/HomePage/test_carousel_5_ieqyyf.jpg"
                  type="image/jpg" >    
          <img src="https://res.cloudinary.com/dyeuxstgg/image/upload/c_fill,g_auto,h_350,w_970/b_rgb:000000/v1644245822/KombiCode/ReynaudCharpente/HomePage/test_carousel_5_ieqyyf.jpg"
              width=1600
              height=1200
              alt="Reynaud Charpente">
        </picture>     
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="text-center">
    <div class="max-w-3xl p-2 mx-auto mt-8 overflow-hidden font-jost">
      <h1 class="mb-2 text-3xl">Vous recherchez:</h1>
    </div>
  </div>
  <%= render "activities/index" %>
</div>
