<div class="py-32 text-center">
  <div class="max-w-3xl p-10 mx-auto mt-16 overflow-hidden text-center rounded shadow-lg">
    <h1 class="mb-4 text-4xl font-akaya text-brandBrown"><%= t('welcome') %></h1>
    <p class="text-xl font-light leading-snug font-adventpro"><%= t('wood_passion') %></p>
    <p class="text-xl font-light leading-snug font-adventpro"><%= t('timber_house') %></p>
  </div>
</div>
