<div class="container px-4 mx-auto my-8">

  <!-- Slider main container -->
  <div data-controller="carousel" class="swiper"
      data-carousel-options-value='{ "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" },
                                      "autoplay": { "delay": 5000 },
                                      "effect": "fade",
                                      "fadeEffect": { "crossFade": true},
                                      "pagination": { "el": ".swiper-pagination", "type": "bullets"},
                                      "preloadImages": false,
                                      "lazy": { "loadPrevNext": true },
                                      "zoom": { "maxRatio": 5 } }'>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <% @activities.each do |activity|%>
        <% if activity.photos.attached? %>
          <% activity.photos.each do |photo| %>
            <div class="swiper-slide">
              <%= image_tag photo.variant(resize_to_fill: [1500, 660], convert: :webp), class: "swiper-lazy" %>
              <div class="swiper-lazy-preloader"></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="text-center">
    <div class="max-w-3xl p-2 mx-auto mt-8 overflow-hidden font-jost">
      <h1 class="mb-2 text-3xl">Vous recherchez:</h1>
    </div>
  </div>
  <%= render "activities/index" %>
  <div style="width: 100%; height: 450px;"
       data-controller="mapbox"
       data-mapbox-markers-value="<%= @markers.to_json %>"
       data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
