<div class="container px-4 mx-auto my-8">
  <div class="py-32 text-center">
    <div class="max-w-3xl p-10 mx-auto mt-16 overflow-hidden text-center rounded shadow-lg">
      <h1 class="mb-4 text-4xl font-dosis"><%= t('welcome') %></h1>
      <p class="text-xl font-light leading-snug font-dosis"><%= t('wood_passion') %></p>
      <p class="text-xl font-light leading-snug font-dosis"><%= t('timber_house') %></p>
    </div>
  </div>
</div>
