<div class="max-w-xl p-10 mx-auto mt-16 overflow-hidden text-center rounded shadow-lg">
  <h1 class="mb-4 text-4xl font-akaya text-brandBrown">Bienvenue sur notre nouveau site!</h1>
  <p class="text-xl font-light leading-snug font-adventpro">Reynaud Charpente, la passion du bois depuis 3 générations.</p>
  <p class="text-xl font-light leading-snug font-adventpro">Le spécialiste de la maison ossature bois en Isère et Savoie !</p>
  <div class="flex w-24 mt-4 ml-auto mr-auto">
    <%= image_tag "rc-logo01.svg", alt: "Reynaud Charpente, spécialiste maison ossature bois", width: "180", height: "180", class: "content-center" %>
  </div>
</div>
