<div class="max-w-5xl mx-auto mt-8" data-controller="accordion">
  <div data-controller="opinionfilter">
  <%= render "statistics" %>
  <% @opinions.each do |opinion| %>
    <div class="mb-8">
    <%= render "opinion", opinion: opinion %>
    </div>
  <% end %>
  </div>
</div>
