<div class="w-full pb-2 text-gray-700 border-b border-gray-200">
  <h1 class="mb-2 text-4xl font-akaya text-brandBrown"><%= employee.name %></h1>
  <h2 class="mb-4 text-xl font-akaya text-brandGreen"><%= employee.job_title %></h2>
  <p class="text-lg font-adventpro"><%= employee.about %></p>
</div>