<div class="max-w-3xl mx-auto mt-8">
  <div id="employees" class="flex flex-col items-baseline p-4 space-y-6 rounded shadow-lg">
    <% @employees.each do |employee| %>
      <%= render "employee", employee: employee %>
    <% end %>
  </div>
</div>