<div data-extended-modal-target="container"
     class="fixed inset-0 flex items-center justify-center hidden overflow-y-auto"
     style="z-index: 9999;">
  <div class="relative w-full max-w-lg max-h-screen">
    <div class="m-1 bg-white rounded shadow">
      <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
        <div data-action="click->extended-modal#close" class="float-right w-4 h-4">
          <%= inline_svg_tag "crossmark.svg", class: 'z-50 cursor-pointer w-4 h-4' %>
        </div>
        <h3 class="pt-1 mt-4 mb-2 text-xl font-bold text-center sm:pt-4 sm:mb-8 sm:text-4xl heading">
          <%= t('thanks_for_interest') %>
        </h3>
        <p class="text-center"> <%= t('ask_for_info') %> </p>
      </div>
      <form id="contact_form"></form>
    </div>
  </div>
</div>
