<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact.name tr('has_filled_form')%></h1>
    <p>
      <%= @contact.messages.first.body %>
    </p>
    <p>
      <%= tr('reply_to') @contact.email %>
      <%= image_tag attachments['rc-banner01.png'].url %>
    </p>
  </body>
</html>
