<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @contact.name %> a rempli le formulaire de contact et rédigé le message ci-dessous.</h1>
    <p>
      <%= @contact.messages.first.body %>
    </p>
    <p>
      Répondre à: <%= @contact.email %>
    </p>
  </body>
</html>
