<!--Modal-->
<div class="fixed top-0 left-0 flex items-center justify-center w-full h-full opacity-0 pointer-events-none modal">
  <div class="absolute w-full h-full opacity-100 errormodal-back modal-overlay"></div>
  
  <div class="z-50 w-11/12 mx-auto overflow-y-auto rounded shadow-lg errormodal-content modal-container md:max-w-md">
    

    <!-- Add margin if you want to see some of the overlay behind the modal-->
    <div class="px-6 py-4 text-left font-jost modal-content">
      <!--Title-->
      <div class="flex items-center justify-between pb-3">
        <p class="text-3xl font-semibold "><%= t('error_not_found_title') %></p>
      </div>

      <!--Body-->
      <p class="text-xl font-light"><%= t('error_not_found_content') %></p>

      <!--Footer-->
      <div class="flex items-center pt-2 ">
        <i class="fas fa-angle-left"></i>
        <p>&nbsp;&nbsp;</p>
        <a href="/" class="flex items-center my-2 mr-8 animate-pulse">
          <%= image_tag "rc-logo-color.svg", alt: "Reynaud Charpente, spécialiste maison ossature bois", width: "60", height: "60", class: "content-center" %>
        </a>
        <p class="text-xl font-light">&nbsp;&nbsp;<%= t('error_back_to_site') %></p>
      </div>
      
    </div>
  </div>
</div>

<script>
  
  function toggleModal () {
    const body = document.querySelector('body')
    const modal = document.querySelector('.modal')
    modal.classList.toggle('opacity-0')
    modal.classList.toggle('pointer-events-none')
    body.classList.toggle('modal-active')
  }
  
  toggleModal();
</script>
