@layer components {
  .accordion-arrow.active {
    @apply rotate-180;
  }
  .accordion-content {
    transition: ease 1s all;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
    will-change: transform;
  }

  .fade-in {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
}
