@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './components/forms.css';
@import './components/notifications.css';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Akaya Telivigala';
  src: url('akaya-telivigala-all-400-normal.woff');
}

@font-face {
  font-family: 'AdventPro';
  font-weight: 100;
  src: url('AdventPro-Thin.ttf');
}
@font-face {
  font-family: 'AdventPro';
  font-weight: 200;
  src: url('AdventPro-ExtraLight.ttf');
}
@font-face {
  font-family: 'AdventPro';
  font-weight: 300;
  src: url('AdventPro-Light.ttf');
}
@font-face {
  font-family: 'AdventPro';
  font-weight: 400;
  src: url('AdventPro-Regular.ttf');
}
@font-face {
  font-family: 'AdventPro';
  font-weight: 500;
  src: url('AdventPro-Medium.ttf');
}
@font-face {
  font-family: 'AdventPro';
  font-weight: 600;
  src: url('AdventPro-SemiBold.ttf');
}
@font-face {
  font-family: 'AdventPro';
  font-weight: 700;
  src: url('AdventPro-Bold.ttf');
}