%focus-style {
  @apply border-gray-500 shadow outline-none;

  box-shadow: 0 0 0 0.2rem theme("colors.gray.200");
  background-clip: padding-box;
}

.input {
  @apply block w-full px-3 leading-tight text-gray-700 bg-white border border-gray-400 rounded shadow-inner appearance-none;
  padding-top: .65rem;
  padding-bottom: .65rem;
}

.input:focus,
.input:hover {
  @extend %focus-style;
}

.label {
  @apply block mt-3 mb-1 text-sm font-bold text-left text-gray-700;
}

.select {
  @apply block w-full px-4 py-3 pr-8 leading-tight text-gray-700 bg-white border border-gray-300 rounded appearance-none;
  -webkit-appearance: none;

}

.select:focus {
  @apply border-gray-400 outline-none;

  box-shadow: 0 0 0 0.2rem theme("colors.gray.100");
  background-clip: padding-box;
}

.caret {
  @apply absolute inset-y-0 right-0 flex items-center px-2 text-gray-800 pointer-events-none;
}

.input-group {
  @apply mb-6;
}

.input-file {
    height: auto;
    z-index: 2;
    cursor: pointer;

    @apply absolute inline-block px-3 py-3 pl-0 pr-0 overflow-hidden border-none opacity-0;

    + label {
      @extend .btn;
      @extend .btn-default;

      @apply inline-flex items-center justify-start w-auto cursor-pointer;

      * {
        pointer-events: none;
      }

      &:focus {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }
  }
}

.input-checkbox {
  @apply flex items-center justify-start;

  input[type="checkbox"] {
    @apply hidden appearance-none;

    &:checked ~ label:before {
      content: "";
      background-image: url('../images/icons/checkmark.svg');
      background-size: 10px 10px;
      border-radius: 2px;
      @apply text-white transition duration-100 ease-in-out bg-blue-500 bg-center bg-no-repeat border-transparent shadow-none;
    }

    &:disabled {
      @apply opacity-50 pointer-events-none;
    }
  }

  label {
    @apply appearance-none cursor-pointer;

    &:before {
      border-radius: 2px;
      border: 1px solid rgb(209, 209, 209);
      box-shadow: inset 0 1px 1px rgba(#ddd, .8);
      content: "";
      height: 16px;
      margin-right: 10px;
      top: -5px;
      width: 16px;

      @apply relative inline-flex items-center justify-center transition duration-200 ease-in-out bg-white;

    }

    &:hover::before {
      @apply bg-gray-100 border-gray-500;
    }
  }
}

.input-radio {
  @apply flex items-center justify-start;

  input[type="radio"] {
    @apply hidden appearance-none;

    &:checked ~ label:before {
      content: "";
      @apply text-white transition duration-100 ease-in-out bg-blue-500 border-transparent shadow-none;
    }

    &:checked ~ label:after {
      @apply bg-white rounded-full;
      content: "";
      width: 6px;
      height: 6px;
      position: absolute;
      top: 8px;
      left: 5px;
      box-shadow: 0 1px 1px rgba(#2B6CB0, .9);
    }

    &:disabled {
      @apply opacity-50 pointer-events-none;
    }
  }

  label {
    @apply relative appearance-none cursor-pointer;

    &:before {
      border: 1px solid rgb(209, 209, 209);
      box-shadow: inset 0 1px 1px rgba(#ddd, .8);
      content: "";
      height: 16px;
      margin-right: 4px;
      top: -5px;
      width: 16px;

      @apply relative inline-flex items-center justify-center transition duration-200 ease-in-out bg-white rounded-full;
    }

    &:hover::before {
      @apply bg-gray-100 border-gray-500;
    }
  }
}
