/* Define our colors */
.CybotCookiebotDialogContentWrapper,
.CookiebotWidget-open {
  --cookie-grayed-color: #6b7280;
  --cookie-brandBrown-color: #4c1212;
  --cookie-brandGreen-color: #a1d02f;
  --cookie-active-color: var(--cookie-brandBrown-color);
}

/* Override font for whole dialog */
#CybotCookiebotDialog { font-family: Jost!important; }

/* Remove Cookiebot CMP branding from widget */
#CookiebotWidget-widgetContent > div >
div.CookiebotWidget-body > div >
div.CookiebotWidget-main-logo > a {
  display: none;
}

/* Remove Cookiebot CMP branding from dialog */
a#CybotCookiebotDialogPoweredbyCybot,div#CybotCookiebotDialogPoweredByText {
  display: none;
}

/* Override font for whole dialog */
#CookiebotWidget { font-family: Jost!important; }

/* Override consent details */
.CookiebotWidget-consent-details > button {
  color: var(--cookie-grayed-color)!important;
}
.CookiebotWidget-consent-details > button:hover {
  color: var(--cookie-active-color)!important;
}
#CybotCookiebotDialogBodyEdgeMoreDetailsLink {
  color: var(--cookie-grayed-color)!important;
}
#CybotCookiebotDialogBodyEdgeMoreDetailsLink:hover {
  color: var(--cookie-active-color)!important;
}
#CybotCookiebotDialogDetailFooter > a {
  color: var(--cookie-grayed-color)!important;
}
#CybotCookiebotDialogDetailFooter > a:hover{
  color: var(--cookie-active-color)!important;
}

/* Override icon svg color fill */
#CookiebotWidget-widgetContent >
div > div.CookiebotWidget-body >
div > div.CookiebotWidget-consents-list >
ul > li.CookiebotWidget-approved > div > svg > path {
  fill: var(--cookie-active-color)!important;
}

/* Override whole style of widget and dialog buttons */
#CookiebotWidget-btn-withdraw,
#CookiebotWidget-btn-change,
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll,
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection,
#CybotCookiebotDialogBodyButtonDecline {
  border-width: 1px!important;
  border-color: transparent!important;
  border-radius: 0.375rem!important;
  color: white!important;
  background-color: var(--cookie-active-color)!important;
}
#CookiebotWidget-btn-change:hover,
#CookiebotWidget-btn-withdraw:hover,
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll:hover,
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection:hover,
#CybotCookiebotDialogBodyButtonDecline:hover {
  color: var(--cookie-active-color)!important;
  background-color: white!important;
}
#CookiebotWidget-btn-withdraw:focus,
#CookiebotWidget-btn-change:focus,
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll:focus,
#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection:focus,
#CybotCookiebotDialogBodyButtonDecline:focus {
  outline: 2px solid transparent!important;
  outline-offset: 2px!important;
}

/* Override other focus in widget */
.CookiebotWidget-close:focus,
.CookiebotWidget-show-consent-details:focus {
  outline: 2px solid transparent!important;
  outline-offset: 2px!important;
}

/* Override style of widget withdraw disabled button */
#CookiebotWidget-btn-withdraw:disabled{
  background-color: white!important;
  color: var(--cookie-grayed-color)!important;
}

/* Override dialog details buttons */

#CybotCookiebotDialogDetailBodyContentCookieContainerNecessary,
#CybotCookiebotDialogDetailBodyContentCookieContainerPreference,
#CybotCookiebotDialogDetailBodyContentCookieContainerStatistics,
#CybotCookiebotDialogDetailBodyContentCookieContainerAdvertising,
#CybotCookiebotDialogDetailBodyContentCookieContainerUnclassified {
  color: var(--cookie-grayed-color)!important;
}
#CybotCookiebotDialogDetailBodyContentCookieContainerNecessary:hover,
#CybotCookiebotDialogDetailBodyContentCookieContainerPreference:hover,
#CybotCookiebotDialogDetailBodyContentCookieContainerStatistics:hover,
#CybotCookiebotDialogDetailBodyContentCookieContainerAdvertising:hover,
#CybotCookiebotDialogDetailBodyContentCookieContainerUnclassified:hover {
  color: var(--cookie-active-color)!important;
}
#CybotCookiebotDialogDetailBodyContentCookieContainerNecessary:active,
#CybotCookiebotDialogDetailBodyContentCookieContainerPreference:active,
#CybotCookiebotDialogDetailBodyContentCookieContainerStatistics:active,
#CybotCookiebotDialogDetailBodyContentCookieContainerAdvertising:active {
  color: var(--cookie-active-color)!important;
}

#CybotCookiebotDialogDetailBodyContentCookieTabsNecessary > div > div > div > a.CybotCookiebotDialogDetailBodyContentCookieProvider.CybotCookiebotDialogCollapsed,
#CybotCookiebotDialogDetailBodyContentCookieTabsNecessary > div > div > div > a.CybotCookiebotDialogDetailBodyContentCookieLink,
#CybotCookiebotDialogDetailBodyContentCookieTabsNecessary > div > div > div > a.CybotCookiebotDialogDetailBodyContentCookieProvider {
  color: var(--cookie-grayed-color)!important;
}

#CybotCookiebotDialogDetailBodyContentCookieTabsNecessary > div > div > div > a.CybotCookiebotDialogDetailBodyContentCookieProvider.CybotCookiebotDialogCollapsed:hover,
#CybotCookiebotDialogDetailBodyContentCookieTabsNecessary > div > div > div > a.CybotCookiebotDialogDetailBodyContentCookieLink:hover,
#CybotCookiebotDialogDetailBodyContentCookieTabsNecessary > div > div > div > a.CybotCookiebotDialogDetailBodyContentCookieProvider:hover {
  color: var(--cookie-active-color)!important;
}

#CybotCookiebotDialogDetailBodyContentCookieTabsUnclassified > div > div > div > a {
  color: var(--cookie-grayed-color)!important;
}
#CybotCookiebotDialogDetailBodyContentCookieTabsUnclassified > div > div > div > a:hover {
  color: var(--cookie-active-color)!important;
}

/* Nav items link */
#CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink {
  border-bottom: 1px solid white!important;
  color: var(--cookie-grayed-color)!important;
}
#CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink:hover {
  border-bottom: 1px solid white!important;
  color: var(--cookie-active-color)!important;
}
#CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
  border-bottom: 1px solid   var(--cookie-active-color)!important;
  color: var(--cookie-active-color)!important;
}

/* Slider buttons */
#CybotCookiebotDialogTabContent input:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
  background-color: var(--cookie-active-color)!important;
}
#CybotCookiebotDialogTabContent .CybotCookiebotDialogBodyLevelButtonSlider {
  background-color: var(--cookie-grayed-color)!important;
}
/* Labels for slider buttons  */
#CybotCookiebotDialogBodyLevelButtonsSelectPane > fieldset > div:nth-child(2) > label > span,
#CybotCookiebotDialogBodyLevelButtonsSelectPane > fieldset > div:nth-child(3) > label > span,
#CybotCookiebotDialogBodyLevelButtonsSelectPane > fieldset > div:nth-child(4) > label > span,
#CybotCookiebotDialogBodyLevelButtonsSelectPane > fieldset > div:nth-child(5) > label > span {
  color: var(--cookie-grayed-color)!important;
}
#CybotCookiebotDialogBodyLevelButtonsSelectPane > fieldset > div:nth-child(2) > label > span:hover,
#CybotCookiebotDialogBodyLevelButtonsSelectPane > fieldset > div:nth-child(3) > label > span:hover,
#CybotCookiebotDialogBodyLevelButtonsSelectPane > fieldset > div:nth-child(4) > label > span:hover,
#CybotCookiebotDialogBodyLevelButtonsSelectPane > fieldset > div:nth-child(5) > label > span:hover {
  color: var(--cookie-active-color)!important;
}
