<div class="shadow-xl rounded-xl">
    <div class="flex flex-col p-7 font-jost">
      <%= link_to activity.name, activity_path(activity), class: "brandHover mt-4 text-2xl text-center text-gray-500 truncate"%>
      <% if current_user && current_user.admin %>
        <%= link_to t('action_edit'), edit_activity_path(activity), class: "brandHover text-gray-500" %>
      <% end %>
    </div>
</div>
