<div class="container w-full px-4 mx-auto my-8 shadow-xl font-jost rounded-xl">
    <div class="flex p-8">
        <h2 class="flex items-center w-full mt-1 text-2xl text-center text-gray-500 truncate">
          <%= @activity.name %>
        </h2>
    </div>
    <div class="flex p-8">
        <div class="flex items-center trix-content">
          <%= @activity.content %>
          <%= @embedded_content %>
        </div>
    </div>
</div>
